In [23]:
import pandas as pd
import getpass
import numpy as np 
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [8]:
pa = getpass.getpass("Postgres user passowrd: ")

In [19]:
engine = create_engine(f'postgresql://postgres:{pa}@localhost:5432/SQL_hw')
conn = engine.connect()

In [21]:
df = pd.read_sql_query('Select salary FROM salary',conn)
df.columns

              salary
count  300024.000000
mean    52970.732451
std     14301.478491
min     40000.000000
25%     40000.000000
50%     48681.000000
75%     61758.000000
max    129492.000000

In [25]:
bins = np.linspace(40000,130000,15)

array([ 40000.        ,  46428.57142857,  52857.14285714,  59285.71428571,
        65714.28571429,  72142.85714286,  78571.42857143,  85000.        ,
        91428.57142857,  97857.14285714, 104285.71428571, 110714.28571429,
       117142.85714286, 123571.42857143, 130000.        ])